<div
  class="slide"
  [class.mat-headline-2]="active"
  [class.currentSlide]="active"
  [class.mat-headline-4]="!active"
  [class.first]="!active && slide.first_slide_of_tag">
  @if (slide?.img) {
    <img 
      src="{{slide?.img}}"
      [class.active-slide-img]="active"
      [class.next-slides-img]="!active"/>
    <div
      [class.active-slide-img-text]="active"
      [class.next-slides-text]="!active">{{ slide?.text }}</div>
  }
  @else {
    <ng-container>
      {{ slide?.text }}
    </ng-container>
  }
</div>
