/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@use './assets/themes/openlp-light-theme.scss';
@use './assets/themes/openlp-dark-theme.scss';
@use './assets/themes/_header-theme.scss' as header;
@use './assets/themes/_fast-switcher-theme.scss' as fast-switcher;
@use './assets/themes/_slide-item-theme.scss' as slide-item;
@include mat.core();

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dark-theme {
  @include mat.all-component-colors(openlp-dark-theme.$dark-theme);
  @include header.theme(openlp-dark-theme.$dark-theme);
  @include fast-switcher.theme(openlp-dark-theme.$dark-theme);
  @include slide-item.theme(openlp-dark-theme.$dark-theme);
}

html {
  @include mat.all-component-themes(openlp-light-theme.$light-theme);
  @include header.theme(openlp-light-theme.$light-theme);
  @include fast-switcher.theme(openlp-light-theme.$light-theme);
  @include slide-item.theme(openlp-light-theme.$light-theme);
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.mat-mdc-card {
  margin-bottom: 1rem;
}

.mat-mdc-card.service-item,
.mat-mdc-card.slide {
  cursor: pointer;
}

.page-title {
  margin-left: 1rem;
}

.content {
  margin: 1rem;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.chordline {
  line-height: 1.8;
}

.chordline1 {
  line-height: 1.0
}

.chordline span.chord span {
  position: relative;
}

.chordline span.chord span strong {
  position: absolute;
  top: -2.1rem;
  left: 0;
  font-size: 30pt;
  font-weight: normal;
  line-height: normal;
  color: yellow;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  color: black;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.no-select {
  user-select: none;
}

.mat-mdc-tooltip {
  font-size: 1rem;
}

// Make sure the Material tool tips stay visible when Stage View is active.
.cdk-overlay-container {
  &:not(.embedded) {
    z-index: 1200;
  }
}
