<mat-card
  class="slide no-select"
  mat-list-item
  (click)="onSlideSelected(slide)"
  [class.selected]="selected">
  <mat-card-header>
    <mat-card-subtitle class="slide-title" [class.selected]="selected">{{ slide?.tag }}</mat-card-subtitle>
  </mat-card-header>
  @if (slide?.img) {
    <img mat-card-image src="{{ slide?.img }}" alt="{{ slide?.tag }}" />
  }
  @if (slide?.text) {
    <mat-card-content>{{ slide?.text }}</mat-card-content>
  }
</mat-card>
